flow.json
[{"id":"53b5f7f.762b708","type":"tab","label":"weatherBot-v1.1.2","disabled":false,"info":""},{"id":"4fa2752e.932f2c","type":"tab","label":"telegram-bot-echo","disabled":true,"info":""},{"id":"a53afc9f.2e27","type":"tab","label":"OpenWeather Response","disabled":false,"info":""},{"id":"ffc2c800.c7b338","type":"tab","label":"Weather bot auto message","disabled":false,"info":""},{"id":"8953fd2e.47f7a","type":"telegram bot","z":"","botname":"@annoyingWeatherMasterBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"b873447f.4b4f68","type":"telegram receiver","z":"53b5f7f.762b708","name":"Bot Receive","bot":"8953fd2e.47f7a","saveDataDir":"","filterCommands":false,"x":90,"y":40,"wires":[["5b1a035b.d51f6c","d7a5d117.4f383"],[]]},{"id":"5658f6cf.9a5548","type":"http request","z":"53b5f7f.762b708","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.openweathermap.org/data/2.5/{{{urlType}}}?","tls":"","persist":false,"proxy":"","authType":"basic","x":150,"y":260,"wires":[["55920178.1df78","973ed437.6b4148"]]},{"id":"55920178.1df78","type":"debug","z":"53b5f7f.762b708","name":"","active":true,"console":"false","complete":"payload","x":350,"y":240,"wires":[]},{"id":"f1aef7e4.d65458","type":"function","z":"53b5f7f.762b708","name":"messageGenerator","func":"msg.payload = {};\n\nif (msg.errors.length) {\n    msg.content = msg.errors.join('\\n');\n}\n\nmsg.payload.chatId = msg.id;\nmsg.payload.type = 'message';\nmsg.payload.content = msg.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":340,"wires":[["72c9347.19434cc"]]},{"id":"72c9347.19434cc","type":"telegram sender","z":"53b5f7f.762b708","name":"Weather message","bot":"8953fd2e.47f7a","x":630,"y":400,"wires":[[]]},{"id":"5b1a035b.d51f6c","type":"function","z":"53b5f7f.762b708","name":"handleInputMessage","func":"msg.command = '';\nmsg.forecast = 0;\nmsg.errors = []; // array of strings\nmsg.urlType = '';\nmsg.id = msg.payload.chatId;\nmsg.city = 'Denges';\nmsg.help = false;\n\nlet input = msg.payload.content.split(' ');\nmsg.command = input[0];\nif (msg.command === '/help' || msg.command === '/start') {\n    msg.help = true;\n    return msg;\n}\n\nlet value = Number(input[1]);\n\nif (input[1]) { // forecast\n    if(isNaN(value)) {\n        msg.errors.push(`Error: The value entered after command ${input[0]} must be a number.`)\n    } else {\n        msg.forecast = value;\n    }\n} else { // weather\n    msg.forecast = 0;\n}\n\nconsole.log(msg.errors);\n\n\nif(msg.forecast || msg.command === '/nextday') {\n    msg.urlType = \"forecast\";\n} else {\n    msg.urlType = \"weather\";\n}\n\nif(msg.command === '/city') {\n    if (input[2] !== undefined) {\n        msg.city = input [2];\n    } else {\n        msg.errors.push('Error: You did not input a city name as the second argument.')\n    }\n}\n\nmsg.appid = env.get(\"OWM_ID\");\n\nmsg.payload = {\n    \"q\": msg.city,\n    \"appid\": msg.appid,\n    \"units\": \"metric\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":120,"wires":[["e87a8870.3c61d8","ac62de8c.ca313"]]},{"id":"d7a5d117.4f383","type":"debug","z":"53b5f7f.762b708","name":"","active":true,"console":"false","complete":"payload","x":290,"y":40,"wires":[]},{"id":"973ed437.6b4148","type":"switch","z":"53b5f7f.762b708","name":"urlType switch","property":"urlType","propertyType":"msg","rules":[{"t":"eq","v":"weather","vt":"str"},{"t":"eq","v":"forecast","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":340,"wires":[["23b242c7.2f1cce"],["f3dacc8e.b8259"]]},{"id":"23b242c7.2f1cce","type":"function","z":"53b5f7f.762b708","name":"handleWeatherData","func":"let content = '';\n\n  switch (msg.command) {\n    case '/temp':\n      content = `Current temperature in Denges is ${msg.payload.main.temp}°C.`;\n      break;\n    case '/tempfeel':\n      content = `Current perceived temperature in Denges is ${msg.payload.main.feels_like}°C.`;\n      break;\n    case '/humidity':\n      content = `Current humidity in Denges is ${msg.payload.main.humidity}%.`;\n      break;\n    case '/wind':\n      content = `Current wind speed in Denges is ${msg.payload.wind.speed}m/s.`;\n      break;\n    case '/weather':\n      content = `Current weather in Denges is ${msg.payload.weather[0].description}.`;\n      break;\n    case '/clouds':\n      content = `Current amount of sky cloudy in Denges is ${msg.payload.clouds.all}%.`;\n      break;\n    case '/rain':\n      content = `Amount of rain fallen during last hour in Denges is ${msg.payload.rain ? msg.payload.rain['1h'] : 0}mm.`;\n      break;\n    case '/city':\n    case '/all':\n      content = \n        `Current weather in ${msg.city}\\n\n        Temperature: ${msg.payload.main.temp}°C\n        Perceived temperature: ${msg.payload.main.feels_like}°C\n        Humidity: ${msg.payload.main.humidity}%\n        Wind speed: ${msg.payload.wind.speed}m/s\n        Weather description: ${msg.payload.weather[0].description}\n        Cloudiness: ${msg.payload.clouds.all}%\n        Rain (last hour): ${msg.payload.rain ? msg.payload.rain['1h'] : 0}mm`;\n      break;\n    default:\n      msg.errors.push('Error: Unknown command for current weather in bot v1!');\n      break;\n  }\n\n  msg.content = content;\n\n  return msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["f1aef7e4.d65458"]]},{"id":"f3dacc8e.b8259","type":"function","z":"53b5f7f.762b708","name":"handleForecastData","func":"let content = \"\";\n\nif (msg.forecast > 120) {\n    msg.errors.push('Error: You are asking for a forecast in more than 120 hours.');\n    return msg;\n}\nlet index = Math.floor(msg.forecast/3);\n\nswitch (msg.command) {\n    case (\"/temp\"):\n        content = `The temperature in Denges in ${msg.forecast} hours will be ${msg.payload.list[index].main.temp}°C.`\n        break;\n    case '/tempfeel':\n      content = `The perceived temperature in Denges in ${msg.forecast} hours will be ${msg.payload.list[index].main.feels_like}°C.`;\n      break;\n    case '/humidity':\n      content = `The humidity in Denges in ${msg.forecast} hours will be ${msg.payload.list[index].main.humidity}%.`;\n      break;\n    case '/wind':\n      content = `The wind speed in Denges in ${msg.forecast} hours will be ${msg.payload.list[index].wind.speed}m/s.`;\n      break;\n    case '/weather':\n      content = `The weather in Denges in ${msg.forecast} hours will be ${msg.payload.list[index].weather[0].description}.`;\n      break;\n    case '/clouds':\n      content = `The amount of sky cloudy in Denges in ${msg.forecast} hours will be ${msg.payload.list[index].clouds.all}%.`;\n      break;\n    case '/rain':\n      content = `The amount of rain fallen that will fall over three hours in Denges in ${msg.forecast} hours will be ${msg.payload.list[index].rain ? msg.payload.list[index].rain['3h'] : 0}mm.`;\n      break;\n    case '/city':\n    case '/all':\n      content = \n        `Predicted weather in ${msg.city} in ${msg.forecast} hours\\n\n        Temperature: ${msg.payload.list[index].main.temp}°C\n        Perceived temperature: ${msg.payload.list[index].main.feels_like}°C\n        Humidity: ${msg.payload.list[index].main.humidity}%\n        Wind speed: ${msg.payload.list[index].wind.speed}m/s\n        Weather description: ${msg.payload.list[index].weather[0].description}\n        Cloudiness: ${msg.payload.list[index].clouds.all}%\n        Rain (next three hours): ${msg.payload.list[index].rain ? msg.payload.list[index].rain['3h'] : 0}mm`;\n      break;\n    case '/nextday':\n      content = \n        `Predicted weather in ${msg.city} for the next 24h \\n (3 hours time slots) \\n\\n Temperature Perceived temperature   Weather \\n`\n        for (let i = 0; i<7; i++) {\n            content += `${msg.payload.list[i].main.temp.toFixed(2)}°C ${msg.payload.list[i].main.feels_like.toFixed(2)}°C    ${msg.payload.list[i].weather[0].description}\\n`\n        }\n      break;\n    default:\n      msg.errors.push('Error: Unknown command for forecast in bot v1!');\n      break;\n}\n\nmsg.content = content\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":360,"wires":[["f1aef7e4.d65458"]]},{"id":"e87a8870.3c61d8","type":"switch","z":"53b5f7f.762b708","name":"help switch","property":"help","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":180,"wires":[["80317337.a242d"],["5658f6cf.9a5548"]]},{"id":"80317337.a242d","type":"function","z":"53b5f7f.762b708","name":"messageGenerator","func":"msg.payload = {};\n\ncontent = `**List of commands:**\\n\n/temp - Measured temperature\n/tempfeel - Human perceived temperature\n/wind - Wind speed\n/weather - Weather description -> clear, cloudy, rain, ...\n/clouds - Percentage of sky covered with clouds\n/rain - Amount of rain fallen\n/humidity - Humidity in percents\n/all - Get all information given by other commands at once.\n/city - Get all information like with \"/all\" for another city than Denges. City name should be only in lowercase letters.\n/nextday - Temperature, perceived temperature and weather description for the next 24h in Denges\n/help - Information about all available commands\n\n\n- All commands excepted /city, /nextday and /help can be followed by a number (we call it time offset), which indicates for when the weather prediction must be (number of hours in the future from now). The maximal value of this number is 120 hours aka 5 days. If no time offset is used, current info is returned.\n\n\n- /help and /nextday accept no parameters.\n\n- /city must have two parameters. First the time offset, then the name of the city for which you want the forecast, all in lowercase.`;\n\n\nmsg.payload.chatId = msg.id;\nmsg.payload.type = 'message';\nmsg.payload.content = content;\nmsg.payload.options = { \n        parse_mode: \"Markdown\"\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["ae02658c.e55328"]]},{"id":"ae02658c.e55328","type":"telegram sender","z":"53b5f7f.762b708","name":"Help message","bot":"8953fd2e.47f7a","x":620,"y":180,"wires":[[]]},{"id":"bbe2e1af.a15fe","type":"telegram sender","z":"4fa2752e.932f2c","name":"Bot Send","bot":"","x":420,"y":180,"wires":[["9a3604b4.51e518"]]},{"id":"4bf21a13.ce0374","type":"telegram receiver","z":"4fa2752e.932f2c","name":"Bot Receive","bot":"","saveDataDir":"","filterCommands":false,"x":130,"y":240,"wires":[["883272f0.bdb03","bbe2e1af.a15fe"],[]]},{"id":"883272f0.bdb03","type":"debug","z":"4fa2752e.932f2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":280,"wires":[]},{"id":"9a3604b4.51e518","type":"debug","z":"4fa2752e.932f2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":180,"wires":[]},{"id":"535b9677.99c008","type":"http request","z":"a53afc9f.2e27","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.openweathermap.org/data/2.5/weather?","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":140,"wires":[["9022accc.f7575"]]},{"id":"9022accc.f7575","type":"debug","z":"a53afc9f.2e27","name":"","active":true,"console":"false","complete":"payload","x":530,"y":200,"wires":[]},{"id":"ac1a76df.1a4178","type":"inject","z":"a53afc9f.2e27","name":"query parameters","topic":"","payload":"{\"q\":\"denges\",\"appid\":\"<yourAppId>\",\"units\":\"metric\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":60,"wires":[["1aaae17e.0af4ef"]]},{"id":"6fcd4454.ab3b3c","type":"telegram sender","z":"ffc2c800.c7b338","name":"Telegram Bot","bot":"","x":630,"y":200,"wires":[[]]},{"id":"4e8b8b37.3a92f4","type":"debug","z":"ffc2c800.c7b338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":320,"wires":[]},{"id":"b28d9127.e4105","type":"function","z":"ffc2c800.c7b338","name":"messageGenerator","func":"let content = msg.payload;\n\nmsg.payload = {};\nmsg.payload.chatId = '<insertChatId>';\nmsg.payload.type = 'message';\nmsg.payload.content = content;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["6fcd4454.ab3b3c","4e8b8b37.3a92f4"]]},{"id":"fbc1580f.92b708","type":"inject","z":"ffc2c800.c7b338","name":"","topic":"","payload":"I am spamming you!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["b28d9127.e4105"]]},{"id":"51f50054.7301b","type":"inject","z":"53b5f7f.762b708","name":"BOT_TOKEN","topic":"","payload":"BOT_TOKEN","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":640,"wires":[["5b03b11e.1490e"]]},{"id":"5b03b11e.1490e","type":"debug","z":"53b5f7f.762b708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":640,"wires":[]},{"id":"ebfd475e.d25a68","type":"comment","z":"53b5f7f.762b708","name":"Environment variable debug","info":"","x":180,"y":600,"wires":[]},{"id":"1aaae17e.0af4ef","type":"change","z":"a53afc9f.2e27","name":"","rules":[{"t":"set","p":"payload.appid","pt":"msg","to":"OWM_ID","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":100,"wires":[["535b9677.99c008"]]},{"id":"ac62de8c.ca313","type":"debug","z":"53b5f7f.762b708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"appid","targetType":"msg","x":282,"y":78,"wires":[]},{"id":"9e41d77a.268ca8","type":"inject","z":"53b5f7f.762b708","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":680,"wires":[["eb5088f9.f9f818"]]},{"id":"eb5088f9.f9f818","type":"function","z":"53b5f7f.762b708","name":"OWM_ID","func":"msg.payload = env.get(\"OWM_ID\");\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":680,"wires":[["8bff2b53.daaa38"]]},{"id":"8bff2b53.daaa38","type":"debug","z":"53b5f7f.762b708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":680,"wires":[]}]